/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #757575;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #efefef;
    overflow-x: hidden;
  }
  
  /* -------------- Navigation Styles ------------------- */
  #navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 108px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #333;
    background-color: white;
    z-index: 1000;
  }

  #navigation:hover{
    background-color: black;
    color: white;
  }

  /* Prevent hover effect when the sidebar is active */
#navigation.no-hover:hover {
    background-color: white;
    color: #333;
}
  
  #navigation p {
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: inherit;
    letter-spacing: -4px;
  }
  
  #navigation i {
    font-size: 24px;
    cursor: pointer;
    color: inherit;
  }

  /* Styles for the close icon */
  #navigation i.fa-times {
    display: none;
    color: #666;
  }
  
  /* Sidebar Styles */
  #sidebar {
    position: fixed;
    top: 0;
    right: -27%; /* Hidden by default */
    width: 27%;
    height: 100%;
    background-color: white;
    padding-top: 60px; /* Space for the navigation bar */
    transition: right 0.3s ease;
    z-index: 999;
  }
  
  #sidebar.active {
    right: 0;
  }
  
  #sidebar li {
    list-style: none;
    padding: 0 20px;
    position: relative;                                  /*RELATIVE helps us to make the child elements BASOLUTE*/
}


  #sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  /* Ensure sidebar links always have the underline */
#sidebar li a::after {
    content: "";
    width: 3%;
    height: 1px;
    background: #666;
    position: absolute;
    bottom: -2px;
    left: 36px;
    visibility: visible; /* Always visible */
}

#sidebar li a.active::after,
#sidebar li a:hover::after,
#sidebar i.active::after,
#sidebar i:hover::after {
    content: "";                                    /* create the underline below the Nav Links upon clicking*/
    width: 3%;
    height: 1px;
    background: #666;
    position: absolute;                          /* to use ABSOLUTE in this Child element (<a>), I MUST use RELATIVE inside the parent (<li>)*/
    bottom: -2px;
    left: 36px;
}
  
  /* ----------------- Main content styles ------------------------- */
  main {
    margin-top: 0;
    padding: 0;
  }

  section{
    font-family: 'Montserrat', sans-serif;
  }

    /* Section 1 */
#section-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 218, 218);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18.75rem 29rem 12rem 29rem;    /* an extra 6.75re, on top padding to give space for the fixed nav */
}

#section-1 h2,
#section-2 h2,
#section-3 h2{
    font-size: 1.8rem;
    font-weight: 500;
}

#section-1 h1,
#section-2 h1,
#section-3 h1{
    font-size: 2.7rem;
    font-weight: 700;
    padding: 1.5rem 0;
}

#section-1 p,
#section-2 p,
#section-3 p{
    line-height: 1.4rem;
}

    /* Section 2 - 3*/
#section-2,
#section-3 {
    display: flex;
    column-gap: 0rem;
    padding: 3.78rem 1px;
}

#section-2 .img-div,
#section-3 .img-div {
    width: 100%;
    background-color: #9f9f9f;
    border: 1px solid #757575;
}

#section-2 .content-div{
    width: calc(100% - (7.5rem + 4.5rem));
    padding: 2.7rem 7.5rem 2.7rem 4.5rem;
}

#section-3 .content-div{
    width: calc(100% - (7.5rem + 4.5rem));
    padding: 2.7rem 4.5rem 2.7rem 7.5rem;
}

#section-2 button,
#section-3 button {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: #9f9f9f;
    padding: 9px 45px;
    margin-top: 1rem;
    border: none;
    border-radius: 9px;
}

    /* Section 4*/
#section-4 {
    background-color: rgb(215, 218, 218);
    text-align: center;
    padding: 3rem 0;
    margin-top: 1.5rem;
    position: relative;
    height: 98vh;
}
  
/* Container for custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    color: #111;
}

/* Button for dropdown */
.dropdown-button {
    padding: 1rem 8.4rem;
    border: 1px solid #8f8f8f;
    background-color: white;
    cursor: default;
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: space-center;
    align-items: center;
}

.dropdown-button span{
    color: #1f1f1f;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: normal;
}

.dropdown-button span i {
    color: #1f1f1f;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 20px;
}

/* Dropdown arrow */
.dropdown-arrow {
    margin-left: 1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
    overflow: hidden;
}

/* Style for each dropdown link */
.dropdown-content a {
    padding: 1rem;
    text-decoration: none;
    display: block;
    cursor: default;
    border: 1px solid #8f8f8f;
}

.dropdown-content a span {
    cursor: pointer;
    font-size: 1.2rem;
    color: #1f1f1f;
}


/* Position the dropdown container */
.custom-dropdown {
    position: relative;
}

/* Style for the popup */
.popup {
    position: absolute;
    top: calc(100% + 2rem); /* Position the popup right below the dropdown-content */
    right: -96%;
    width: 987px;
    height: 62vh;
    background-color: white;
    border: 1px solid white;
    display: none; /* Initially hidden */
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Style for the close button */
.popup-close {
    position: absolute;
    top: calc(2.4rem - 12px);
    right: 2.4rem;
    cursor: pointer;
    font-size: 3rem;
    padding: 0;
}

.popup-close i{
    margin: 0;
}

/* Content inside the popup */
.popup-content {
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - (40px + 1rem));
    padding: 0;
    margin-top: 40px; /* Offset for the close button */
    font-size: 2rem;
    color: #1f1f1f;
    justify-self: center;
    align-self: center;
}

#section-4 article{
    background-color: #9f9f9f;
    padding: 1.8rem 1.5rem;
    width: 12.9rem;
    height: 18rem;
    text-align: left;
    border: 1px solid #8f8f8f;
}

#section-4 article h2{
    color: #efefef;
}

#section-4 article p{
    color: #efefef;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

#section-4 article:nth-of-type(1){     
    position: absolute;
    left: 20%;
    top: 5rem;
}
#section-4 article:nth-of-type(2){
    position: absolute;
    right: 20%;
    top: 5rem;
}
#section-4 article:nth-of-type(3){
    position: absolute;
    left: calc(20% - 2rem);
    top: calc(5rem + 15.8rem + 3.4rem + 1.2rem);
    padding: 1.2rem 1.5rem;
    height: 12.9rem;
}
#section-4 article:nth-of-type(4){
    position: absolute;
    right: calc(20% - 2rem);
    top: calc(5rem + 15.8rem + 3.4rem + 1.2rem);
    padding: 1.2rem 1.5rem;
    height: 12.9rem;
    width: 21rem;
}
#section-4 article:nth-of-type(5){
    position: absolute;
    top: calc(50% - (4rem + 2px));
    left: calc(50% - 6.45rem);
}


    /* Section 5*/
#section-5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 4rem 12.7rem;
    text-align: center;
}

#section-5 article{
    background-color: #9f9f9f;
    padding: 1rem 1.5rem;
    height: 18rem;
    text-align: left;
    border: 1px solid #8f8f8f;
    position: relative;
}

#section-5 article h2{
    color: #efefef;
}

#section-5 article p{
    color: #efefef;
    font-size: 0.9rem;
}
 
#section-5 article p:last-of-type{
    padding-bottom: 1rem;
}

#section-5 article p:first-of-type{
    padding-top: 0.5rem;
}

#section-5 button {
    color: #9f9f9f;
    font-weight: bold;
    font-size: 1rem;
    background-color: white;
    padding: 9px 45px;
    margin-top: 1rem;
    border: none;
    border-radius: 9px;
    text-transform: uppercase;
    position: absolute;
    left: 1.5rem;
    top: 13.6rem;
}

    /* Section 5*/
#section-6{
    background-color: rgb(215, 218, 218);
    height: 510px;
    width: 960px;
    margin: 8rem 16rem 12rem 14rem;
    position: relative;
}

#section-6 div{
    width: 217px;
    height: 154px;
    background-color: #9f9f9f;
}

#section-6 div:nth-child(even){
    background-color: white;
} 

#section-6 div:nth-of-type(1){
    position: absolute;
    top: -47.8125px;
    left: -90px;
    z-index: 10;
}

#section-6 div:nth-of-type(2){
    position: absolute;
    top: 53.125px;
    left: 100px;
    z-index: 15;
}

#section-6 div:nth-of-type(3){
    position: absolute;
    top: 154.0625px;
    left: 290px;
    z-index: 20;
}

#section-6 div:nth-of-type(4){
    position: absolute;
    top: 255px;  /* the anchor point for the layout which is vertically 100.9375px and horizontally 190px from other points */
    left: 480px;
    z-index: 25;
}

#section-6 div:nth-of-type(5){
    position: absolute;
    top: 355.9375px;
    left: 670px;
    z-index: 30;
}
#section-6 div:nth-of-type(6){
    position: absolute;
    top: 456.875px;
    left: 860px;
    z-index: 35;

}




